html {
    background-image: linear-gradient(rgba(5, 15, 72, 0.5), rgba(4, 13, 60, 0.5)), 
                  url('https://img.freepik.com/free-photo/programming-background-with-person-working-with-codes-on-computer_23-2150010128.jpg?size=626&ext=jpg&ga=GA1.1.952150949.1719725745&semt=ais_user');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  body {
    margin: 0;
    height: 100%;
    font-size: 1rem;
    font-family: Tahoma, sans-serif;
    color: rgb(240, 233, 233);
  }
  
  header {
    text-align: center;
  }
  
  header h1 {
    padding-top: 2vh;
    margin-bottom: 0;
  }
  
  header p {
    padding-top: 1vh;
    margin-top: 0;
  }
  
  .container {
    background-color: rgba(3, 2, 26, 0.8);
    width: 80vw;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1em 1.5em;
    border-radius: 20px;
  }
  
  h2 {
    font-size: 1em;
  }
  
  input, select, textarea {
    width: 100%;
    margin: 10px 0;
    min-height: 2.5em;
    border-radius: 8px;
  }
  
  .inline {
    display: inline;
    width: unset;
    margin: 0 0.5em 0 0.5em;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 80%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    border-color: black;
    min-width: 300px;
  }